.card {
    display: inline-block;
    border: 2px solid #000000;
    border-radius: 20px;
    box-shadow: 3px 3px 5px gray;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #92B9BD;
    background-color: #0D160B;
  }
  
  h3 {
    color: #741d8f;
    font-family: "Francois One", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  p {
      font-weight: bold;
  }
  
  .card:hover {
    border: 5px solid #5C5D8D;
  }
  
  .projectImage {
    width: 100%;
    border: black 2px solid;
    border-radius: 20px;
  }
  
  .githubLogo {
    max-width: 30px;
  }
  
  @media screen and (max-width: 1200px) {
      p {
          font-size: .8rem;
      }
  }
  
  @media screen and (max-width: 992px) {
      h3 {
          font-size: 1.25rem;
      }
  }